// ...
import {
  // ...
  /*BS*/distinctUntilChanged/*BE*/
} from 'rxjs';

@Component({ /* ... */ })
export class SearchComponent {
  input$ = new Subject<string>();

  constructor() {
    this.input$.pipe(
      // ...
      /*BS*/distinctUntilChanged()/*BE*/
    )
    .subscribe(e => console.log(e));
  }
}
