// ...
/*BS*/import { BookStoreService } from '../shared/book-store.service';/*BE*/

@Component({ /* ... */ })
export class SearchComponent {
  input$ = new Subject<string>();

  constructor(/*BS*/private service: BookStoreService/*BE*/) {
    // ...
  }
}
